## Pinnacle Live Risks

In [1]:
%cd /home/nilesh/workspace/PortfolioRisk/
import sys
sys.path.append('/home/nilesh/workspace/PortfolioRisk/src/')

/home/nilesh/workspace/PortfolioRisk

In [2]:
import warnings
warnings.filterwarnings('ignore')
from model.data import PortfolioManager

pinnacle = PortfolioManager(portfolio_name="tuco", params_portfolio="arc")

### Sterling

In [3]:
pinnacle.live_risk_sterling

                           nDelta        nGamma       nTheta         nVega
underlying_future_id
L H21                -6212.463609    695.583770    -4.553822   1548.730838
L H22                  374.000000      0.000000     0.000000      0.000000
L M20                 -518.063841  34677.831360 -1091.548128  28423.308942
L M21                  811.593077   1668.140656   291.811464  23484.834969
L M22                 -846.963096 -16007.871122   483.376600 -10462.139441
L M23                 -231.929579  -3571.155941   133.905976  -2568.170723
L U20                -1026.294451  12112.295718  -161.484118  10628.470244
L U21                -2658.326577  -6406.300257    81.369660 -15784.755869
L U22                 -132.200536   3082.252540   -80.040262   5203.432818
L Z20                 8602.339300   4052.363653   -59.859992   8344.331211
L Z21                  985.322546   -718.378166     9.492856  -1530.270325
L Z22                  -31.396821   -524.576807    14.175216  -1432.598201
Total                 -884.383586  29060.185405  -383.354551  45855.174463

### Euribor

In [4]:
pinnacle.live_risk_euribor

                           nDelta        nGamma      nTheta         nVega
underlying_future_id
I H21                   40.303207  -3556.869017   34.386887  -8589.827999
I H22                -1820.000000      0.000000    0.000000      0.000000
I H23                  707.000000      0.000000    0.000000      0.000000
I M20                 -333.130453   -823.478782  -24.319754   -249.484200
I M21                 2775.444007  -2238.087408   15.961740 -12857.869942
I M22                 1536.030621  -3454.800981   96.492021  -1939.089944
I M23                 -344.649825 -11666.698886  388.643725  -7810.378282
I U20                  739.986512  29686.931859 -387.692071  34965.067231
I U21                 4092.842934  -2381.750134   31.050554   6762.106306
I U22                  218.798283   -457.756592    8.389063   -656.151974
I U23                   20.379274   2573.541597  -65.157511   4328.791246
I Z20                -3300.373597  11334.290713 -104.060575  18710.910817
I Z21                -3396.200255 -16768.556583  187.346800 -36278.501169
I Z22                 -579.289813   1141.135181  -20.750421   2669.896940
I Z23                 -132.764828   2867.952579  -65.916763   7519.711165
Total                  224.376067   6255.853545   94.373695   6575.180195